[submodule "plugins/pelican-jupyter-reader"]
	path = plugins/pelican-jupyter-reader
	url = git://github.com/chuckpr/pelican-jupyter-reader
[submodule "plugins/pelican-md-metayaml"]
	path = plugins/pelican-md-metayaml
	url = git://github.com/joachimneu/pelican-md-metayaml
[submodule "output"]
	path = output
	url = ./output
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = git://github.com/getpelican/pelican-themes.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = git://github.com/getpelican/pelican-plugins
